

<html>
<head>
    <title>@ViewData["Title"] - AspNetCore101.Web</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true"/>
</head>
<body>
    <div class="container">

        <div class="well well-lg">This is the _Layout content</div>

        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>

    @RenderSection("Scripts", false)

</body>
</html>