<div class="panel panel-danger">
    <div class="panel-heading">
        Gift Count: @ViewBag.GiftCount
        Gift Cost: @ViewBag.GiftCost
    </div>
    <div class="panel-body">
        <p>This is the home\index content</p>
        <p>
            <a asp-controller="Gifts" asp-action="index">Gifts</a>
        </p>
    </div>
</div>