<div class="panel panel-danger">
    <div class="panel-heading">
        Gift Count: @ViewBag.GiftCount
    </div>
    <div class="panel-body">
        This is the home\index content
    </div>
</div>