<div class="panel panel-danger">
    <div class="panel-heading">
        Gift Count: @ViewBag.GiftCount
        Gift Cost: @ViewBag.GiftCost
    </div>
    <div class="panel-body">
        <p>This is the home\index content</p>
        <p>
            <a asp-controller="Gifts" asp-action="index">Gifts</a>
        </p>
        <p>Total Cost: <span id="total-cost"></span> </p>
    </div>
</div>

@section Scripts{
    <script>
        // Show the gift total via ajax.
        $(function () {
            $.get('/gifts/totalcost')
                .done(function (data) {
                    $("#total-cost").html('$' + Number(data).toFixed(2));
                })
        });
</script>
}